body {
    font-family: 'BlinkMacSystemFont', -apple-system, 'Helvetica Neue', sans-serif;
    min-width: 960px
}
a {
    color: #53A2FF
}
a:hover {
    color: #3994ff
}
html,
body,
.container {
    height: 100%
}
.container {
    width: 960px;
    min-width: 960px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative
}
h1 {
    font-weight: 300;
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 20px;
    color: #252A31
}
h1 span {
    display: block
}
ul {
    padding: 0;
    margin-bottom: 50px;
    list-style: none
}
ul li {
    opacity: .7;
    font-size: 20px;
    color: #000;
    letter-spacing: 0;
    line-height: 34px;
    font-weight: 300;
    margin-left: 20px;
    position: relative
}
ul li::before {
    content: '-';
    position: absolute;
    left: -20px
}
.button {
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    width: 260px;
    height: 54px;
    line-height: 54px;
    background-color: #53A2FF;
    border: 0;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px
}
.button:hover {
    text-decoration: none;
    color: #fff;
    background-color: #3994ff
}
.mockuuups {
    font-size: 13px;
    color: #5F5D5D;
    text-align: center;
    width: 260px
}
.mockuuups span {
    opacity: .7
}
.share {
    text-align: center;
    padding-top: 13px;
    opacity: 0;
    pointer-events: none
}
.share p {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    opacity: .7
}
.bottom {
    width: 260px;
    height: 135px;
    text-align: center;
    position: relative;
}
.bottom>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.bottom.downloaded .download {
    opacity: 0;
    transition: .4s;
    pointer-events: none
}
.bottom.downloaded .share {
    opacity: 1;
    transition: .4s .4s;
    pointer-events: all
}
.hand {
    width: 542px;
    height: 704px;
    position: fixed;
    bottom: 0;
    right: 50%;
    margin-right: -520px;
    pointer-events: none;
    z-index: -1
}
.hand .screens {
    position: absolute;
    top: 66px;
    left: 81px;
    width: 246px;
    height: 437px
}
.hand .screens img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: fade 24s infinite;
    animation: fade 24s infinite
}
.hand .screens img:nth-child(6) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}
.hand .screens img:nth-child(5) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}
.hand .screens img:nth-child(4) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s
}
.hand .screens img:nth-child(3) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s
}
.hand .screens img:nth-child(2) {
    -webkit-animation-delay: 16s;
    animation-delay: 16s
}
.hand .screens img:nth-child(1) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s
}
@-webkit-keyframes fade {
    0% {
        opacity: 1
    }
    15% {
        opacity: 1
    }
    20% {
        opacity: 0
    }
    90% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fade {
    0% {
        opacity: 1
    }
    15% {
        opacity: 1
    }
    20% {
        opacity: 0
    }
    90% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.tweet {
    display: inline-block;
    position: relative;
    height: 20px;
    padding: 1px 8px 1px 6px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: #1b95e0;
    border-radius: 3px;
    box-sizing: border-box;
    font: normal normal normal 11px/18px 'Helvetica Neue', Arial, sans-serif;
    top: 1px
}
.tweet:hover {
    background-color: #0c7abf;
    text-decoration: none
}
.tweet i {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent 0 0 no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E")
}
.tweet span {
    margin-left: 3px;
    white-space: nowrap
}
.is-desktop .hand {
    transform: translate(100%, 100%) rotate(-20deg)
}
.is-desktop .loaded .hand {
    transition: 1s cubic-bezier(.075, .82, .165, 1);
    transform: none
}
@media screen and (max-width: 959px) {
    html,
    body {
        min-width: 0;
        width: auto
    }
    .container {
        padding-top: 50px;
        width: auto;
        min-width: 0;
        display: block
    }
    .container .content {
        text-align: center
    }
    .container .bottom {
        margin: 0 auto;
		margin-top: 600px;
    }
    .hand {
        display: none
    }
    ul li {
        margin-left: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px
    }
    ul li::before {
        display: none
    }
}
