.mobile-screens {
    width: 100%;
}

@media (min-width: 959px) {
    .mobile-screens {
        display: none;
    }

 	.container .bottom {
        margin: 0 auto;
    	margin-top: 25px;
    }
}

.mobile-screens img {
	position: absolute;
	margin-left: auto;
	margin-right: auto;

	left: 0;
	right: 0;
    margin-top: 200px;
	width: 300px;
	-webkit-animation: fade 24s infinite;
	animation: fade 24s infinite
}
.mobile-screens img:nth-child(6) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}
.mobile-screens img:nth-child(5) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}
.mobile-screens img:nth-child(4) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s
}
.mobile-screens img:nth-child(3) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s
}
.mobile-screens img:nth-child(2) {
    -webkit-animation-delay: 16s;
    animation-delay: 16s
}
.mobile-screens img:nth-child(1) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s
}
